<div class="modal fade" id="payInvoceModal" tabindex="-1" role="dialog" aria-labelledby="payInvoceModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form name="pendingInvoceModalForm" method="post">
                    <h1 class="pull-right">{{invoce.importe |currency}}</h1>
                    <h2 class="modal-title" id="payInvoceModalLabel">Factura #{{invoce.noFactura}}</h2>
                    <h3>Pagar antes de: {{invoce.fechaVencimiento | date:"dd/MM/yyyy" }} </h3>
                    <hr>
                    <span class="badge pull-right">{{invoce.estatus}}</span>
                    <p>
                        <b>Descripcion</b>
                    </p>
                    <p>
                        {{invoce.descripcion}}
                    </p>
                    <p>
                        <b>Fecha de emision</b>
                    </p>
                    <p>
                        {{invoce.fechaEmision | date:"dd/MM/yyyy" }}
                    </p>
                    <hr>
                    <h2>Selecciona metodo de pago</h2>
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="radio">
                                <input ng-change="setUrl()" ng-model="payMethod" type="radio" id="radioBank" value="1" name="radioInline">
                                <label for="radioBank">Pago en bancos</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="radio">
                                <input ng-change="setUrl()" ng-model="payMethod" type="radio" id="radioReference" value="2" name="radioInline">
                                <label for="radioReference">Linea de captura</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-show="payMethod">
                        <hr>
                        <h2>Selecciona banco para pagar</h2>
                        <div class="cc-selector">
                            <div ng-repeat="bank in banks">
                                <a ng-show="payMethod==1" ng-click="removeModal()" target="_blank" href="{{bank.url}}" class="bank-cc {{bank.id}}"></a>
                                <a ng-show="payMethod==2" ng-click="removeModal()" target="_blank" href="{{'api/invoce/pdfReference/?idBank='+bank.idBanco+'&idCompany='+invoce.idEmpresa+'&idInvoce='+invoce.idFactura}}" class="bank-cc {{bank.id}}"></a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
